@import "bourbon"

@media only screen and (max-width : 1400px)
	.b-header
		&__left
		&__inner
			padding-left: 0
			width: 700px
			margin-left: 262px
		&__family
			margin-left: -585px
		&__top
			text-align: center
		&__stamp
			left: -260px
			bottom: 260px
		&__title
			padding-left: 35px
			i
				font-size: 24px
			b,strong
				font-size: 30px
		&__line
			font-size: 18px
			margin-left: 35px
	.b-form
		max-width: none
	.b-header
		&__guarantees
			margin-left: 0
			margin-top: 15px
			&::before
				display: none

@media only screen and (max-width : 991px)
	%container-sm
		max-width: 320px

	body
		padding-bottom: 130px

	.container
		@extend %container-sm

	.b-fixed
		display: block
		position: fixed
		z-index: 3
		bottom: 0
		left: 0
		width: 100%
		background-color: #5A266E
		&__inner
			padding: 10px 0
			padding-left: 100px
			position: relative
		&__product
			width: 100px
			position: absolute
			bottom: 0
			left: 0

	.b-warning
		font-size: 12px

	.b-header
		padding: 65px 0 10px
		&__family
			display: none
		&__inner
			width: auto
			margin: 0
			&::after
				left: -420px
		&__guarantees
			padding: 0
			&-item
				b
					font-size: 15px
				span
					font-size: 12px
				&+&
					margin-left: 20px
					&::before
						width: 15px
						height: 15px
						font-size: 15px
						line-height: 12px
						left: -18px
		&__main 
			padding-top: 20px
			display: block
		&__left,
		&__right
			display: block
		&__left
			width: auto
		&__right
			padding-top: 20px
		&__advatages,
		&__line,
		&__chanels
			display: none
		&__title
			padding-left: 0
			text-align: center
			i,
			b,
			strong
				font-size: 26px
		&__product
			position: relative
			bottom: auto
			left: auto
			max-width: 250px
			margin: 0 auto
			display: block
		&__stamp
			width: 80px
			left: -15px
			bottom: 200px
		&::before
			display: none
		&::after
			box-shadow: 0 0 200px 200px #F9FBF8

	.b-statistics
		&__title
			line-height: 1.2
			strong
				font-size: 26px
			b
				font-size: 20px
			span
				font-size: 15px
		&__list
			display: block
		&__item
			display: table
			table-layout: fixed
			width: 100%
			&+&
				margin-top: 15px
			&:nth-child(even)
				direction: rtl
		&__count
			display: table-cell
			vertical-align: middle
			width: 80px
			height: 80px
		&__text
			display: table-cell
			vertical-align: middle
			font-size: 16px
			font-weight: 400

	.b-banner
		margin: 15px 0
		&__inner
			display: block
		&__left
			display: block
			width: auto
			&::after
				display: none
		&__right
			display: block
			background-color: transparent
			padding: 0
			margin-top: 15px
			&::after,
			&::before
				display: none
		&__text
			b
				font-size: 20px
			span
				font-size: 15px
				font-weight: 400

	.b-about
		background-image: none
		padding: 0
		&__title
			font-size: 26px
			text-align: center
		&__inner
			box-shadow: none
			background-color: transparent
			padding-right: 0
			&::after
				display: none
		&__accent
			background-image: none
			padding: 15px
			&::after
				display: none
			&::before
				top: -15px
				right: -015px
		&__family
			display: none
		&__product
			position: relative
			bottom: auto
			right: auto
			max-width: 250px
			display: block
			margin: 15px auto

	.b-medical
		padding: 20px 0 0
		&__inner
			&::after
				display: none
		&__title
			margin: 0 0 40px
			font-size: 26px
			text-align: center
		&__text
			margin: 0
		&__accent
			margin: 235px 0 0
			padding: 15px
			font-size: 14px
			&::before,
			&::after
				display: none
		&__doctor
			top: -220px
			left: 0
			width: 150px
			height: 220px
		&__img
			width: 80px
			top: -105px
			bottom: auto
			left: auto
			right: 0
			&--1
				right: 65px
		&__stamp
			z-index: 1
			width: 60px
			top: -70px
			left: 0
		&__effects
			padding: 15px 0 15px 0
			margin: 0
			p
				padding: 0
		&__effect
			margin: 0
			font-size: 12px
			padding-left: 35px
			&::before
				top: -22px
				bottom: auto
				width: 30px
				height: 30px
				background-size: cover
				line-height: 30px
				z-index: 1
				font-size: 15px
			&::after
				top: -10px
				bottom: auto
		&__humanxray
			display: none
		&__text
			padding: 0
		&__footer
			padding: 0
			margin: 0
			font-size: 14px
		
	.b-advantages
		padding: 30px 0 80px
		&__title
			font-size: 26px
		&__lead
			padding: 0
			margin: 30px 0
		&__product
			display: none
		&__footer
			margin-top: 50px
		&__guarantee
			display: block
			width: 100%
			padding-left: 70px
			span
				font-size: 14px
			b
				font-size: 16px
			&::after 
				top: 0
				left: 0
			&--100per
				&::after 
					width: 58px
					height: 50px
			&--n1
				&::after 
					width: 58px
					height: 87px
			&+&
				margin-top: 25px
		&__group
			&::after,
			&::before
				display: none
		&__list
			display: block
			width: 100%
		&__item
			display: block
			padding: 0
			&:nth-child(odd),
			&:nth-child(even)
				background-image: none
			&::after
				width: 198px
				margin: -35px auto
				display: block
				position: relative
				bottom: auto
				left: auto
				transform: rotate(-27.5deg)
			&--3
				&::after
					background-image: url(../img/advantages-img3.png)
			&--4,
			&--5
				&::after
					transform: rotate(-27.5deg) scale(-1, 1)
		&__text
			margin-bottom: 0