@import "bourbon"

$font: 'Open Sans', sans-serif

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

%container
	width: 100%
	max-width: 1000px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.c-btn
	display: table
	width: 100%
	max-width: 300px
	background-color: #00c600
	border: none
	box-shadow: 0 5px 0 #00c600
	border-radius: 3px
	color: #fff
	font-size: 16px
	font-weight: 600
	text-transform: uppercase
	padding: 0
	padding-left: 50px
	cursor: pointer
	position: relative
	animation: btn 1.5s infinite
	animation-fill-mode: both
	&__text
		display: table
		width: 100%
		padding: 23px 0 18px
		background-color: rgba(255,255,255,.2)
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 18px
		margin-top: -6px
		border-top: 8px solid transparent
		border-bottom: 8px solid transparent
		border-left: 14px solid #fff

@keyframes btn
	0
		transform: scale(1)
	50%
		transform: scale(.95)
		opacity: .7
	100%
		transform: scale(1)

.b-banner
	margin: 30px 0
	overflow: hidden
	&__inner
		@extend %grid
	&__left,
	&__right
		@extend %part
		vertical-align: middle
		position: relative
	&__left
		background-color: #f7c300
		padding: 20px
		width: 55%
		&::after
			content: ''
			position: absolute
			z-index: 1
			top: 50%
			right: -60px
			transform: translateY(-50%)
			border-top: 70px solid transparent
			border-bottom: 70px solid transparent
			border-left: 60px solid #f7c300
	&__right
		background-color: #854c08
		padding: 20px
		padding-left: 130px
		&::after,
		&::before
			content: ''
			position: absolute
			z-index: 1
			left: 40px
			border-left: 40px solid transparent
			border-right: 40px solid transparent
		&::after
			top: 50%
			margin-top: -70px
			border-top: 50px solid #f7c300
		&::before
			bottom: 50%
			margin-bottom: -70px
			border-bottom: 50px solid #f7c300
	&__text
		color: #262626
		font-weight: 700
		margin: 0
		b,span
			display: block
			line-height: 1
		b
			font-size: 25px
			text-transform: uppercase
			margin-bottom: 8px
		span
			font-size: 20px
	&__btn
		margin: 0 auto

.b-fixed
	display: none

.bx
	&-controls
		margin-top: 15px
		text-align: center
	&-pager
		&-item
			display: inline-block
			margin: 0 5px
		&-link
				display: block
				width: 20px
				height: 20px
				font-size: 0
				border-radius: 50%
				background-color: #fff6bf
				&:hover,
				&.active
						background-color: #f47a30

@import "header"
@import "statistics"
@import "about"
@import "medical"
@import "advantages"
@import "composition"



//ALWAYS END
@import "media"
