html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.b-banner__inner, .b-header__main, .b-statistics__list {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-banner__left, .b-banner__right, .b-header__left, .b-header__right, .b-statistics__item {
  display: table-cell;
  vertical-align: top;
}

.c-btn {
  display: table;
  width: 100%;
  max-width: 300px;
  background-color: #00c600;
  border: none;
  -webkit-box-shadow: 0 5px 0 #00c600;
  box-shadow: 0 5px 0 #00c600;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
  -webkit-animation: btn 1.5s infinite;
  animation: btn 1.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.c-btn__text {
  display: table;
  width: 100%;
  padding: 23px 0 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.c-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -6px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #fff;
}

@-webkit-keyframes btn {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes btn {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.b-banner {
  margin: 30px 0;
  overflow: hidden;
}

.b-banner__left, .b-banner__right {
  vertical-align: middle;
  position: relative;
}

.b-banner__left {
  background-color: #f7c300;
  padding: 20px;
  width: 55%;
}

.b-banner__left::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 60px solid #f7c300;
}

.b-banner__right {
  background-color: #854c08;
  padding: 20px;
  padding-left: 130px;
}

.b-banner__right::after, .b-banner__right::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 40px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.b-banner__right::after {
  top: 50%;
  margin-top: -70px;
  border-top: 50px solid #f7c300;
}

.b-banner__right::before {
  bottom: 50%;
  margin-bottom: -70px;
  border-bottom: 50px solid #f7c300;
}

.b-banner__text {
  color: #262626;
  font-weight: 700;
  margin: 0;
}

.b-banner__text b, .b-banner__text span {
  display: block;
  line-height: 1;
}

.b-banner__text b {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.b-banner__text span {
  font-size: 20px;
}

.b-banner__btn {
  margin: 0 auto;
}

.b-fixed {
  display: none;
}

.bx-controls {
  margin-top: 15px;
  text-align: center;
}

.bx-pager-item {
  display: inline-block;
  margin: 0 5px;
}

.bx-pager-link {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff6bf;
}

.bx-pager-link:hover, .bx-pager-link.active {
  background-color: #f47a30;
}

.b-warning {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff0000;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 3px 0;
}

.b-warning b {
  font-size: 18px;
}

.b-header {
  background-image: url(../img/section-bg.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0 90px;
  opacity: .99;
  overflow: hidden;
}

.b-header__inner {
  padding-left: 120px;
  position: relative;
  opacity: .99;
}

.b-header__inner::after {
  content: '';
  background-image: url(../img/x-cross.png);
  width: 947px;
  height: 827px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  z-index: -1;
  top: -200px;
  left: -565px;
}

.b-header__family {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -670px;
  width: 670px;
  height: 708px;
  background-image: url(../img/family.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-header__family::after {
  content: '';
  background-image: url(../img/x-cross.png);
  width: 947px;
  height: 827px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  z-index: 1;
  bottom: -400px;
  left: 35px;
}

.b-header__logo {
  display: inline-block;
  vertical-align: middle;
}

.b-header__guarantees {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}

.b-header__guarantees::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 50px;
  margin-top: -25px;
  background-color: #0091c4;
}

.b-header__guarantees-item {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.b-header__guarantees-item b {
  display: block;
  color: #141414;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.b-header__guarantees-item span {
  color: #AA328F;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.b-header__guarantees-item + .b-header__guarantees-item {
  margin-left: 40px;
}

.b-header__guarantees-item + .b-header__guarantees-item::before {
  content: '+';
  position: absolute;
  left: -33px;
  top: 50%;
  margin-top: -12px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #FF7A00;
  font-weight: 800;
  font-size: 26px;
  line-height: 22px;
}

.b-header__main {
  padding-top: 50px;
}

.b-header__left, .b-header__right {
  position: relative;
}

.b-header__left {
  width: 60%;
}

.b-header__right {
  padding-top: 70px;
}

.b-header__title {
  margin: 0 0 10px;
  line-height: 1;
}

.b-header__title i {
  font-style: normal;
  font-size: 29px;
  color: #2c529d;
}

.b-header__title b, .b-header__title strong {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}

.b-header__title b {
  color: #f47a30;
  margin: 7px 0;
}

.b-header__title strong {
  color: #5a266e;
}

.b-header__line {
  background-color: #F2803A;
  font-size: 25px;
  color: #fff;
  padding: 2px 15px;
}

.b-header__line span {
  display: inline-block;
  position: relative;
}

.b-header__line span + span {
  margin-left: 25px;
}

.b-header__line span + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.b-header__advatages {
  padding-left: 35px;
  padding-right: 15px;
  margin: 50px 0 100px;
}

.b-header__advatages-item {
  font-size: 18px;
  position: relative;
  padding-left: 60px;
}

.b-header__advatages-item b {
  display: block;
  color: #482556;
}

.b-header__advatages-item span {
  color: #2e4555;
}

.b-header__advatages-item + .b-header__advatages-item {
  margin-top: 8px;
}

.b-header__advatages-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background-image: url(../img/cube-logo.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-header__chanels {
  margin-left: 50px;
}

.b-header__product {
  position: absolute;
  bottom: -100px;
  left: -260px;
}

.b-header__stamp {
  position: absolute;
  bottom: 100px;
  left: -360px;
}

.b-header::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 400px;
  left: 50%;
  background-color: #F9FBF8;
  width: 300px;
  height: 1px;
  margin-left: -150px;
  -webkit-box-shadow: 0 0 300px 300px #F9FBF8;
  box-shadow: 0 0 300px 300px #F9FBF8;
}

.b-header::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 600px;
  width: 947px;
  height: 827px;
  background-image: url(../img/x-cross.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-logo {
  background-color: #000;
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}

.b-logo b, .b-logo img {
  display: block;
}

.b-logo b {
  padding: 2px 0;
  font-weight: 300;
}

.b-form {
  width: 100%;
  max-width: 300px;
  border: 2px solid #2C529D;
  padding: 25px 10px;
  background-color: #f7f7f1;
}

.b-form__group {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px;
}

.b-form__group + .b-form__group {
  margin-top: 20px;
}

.b-form__group--select {
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.b-form__field {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.b-form__btn {
  margin-top: 20px;
  max-width: none;
}

.b-form__security {
  margin: 15px auto 0;
  display: block;
}

.b-statistics {
  padding: 50px 0;
}

.b-statistics__title {
  text-align: center;
  margin: 0;
}

.b-statistics__title strong {
  color: #ff0000;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  display: block;
  text-transform: uppercase;
}

.b-statistics__title b {
  color: #050404;
  font-size: 35px;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
}

.b-statistics__title span {
  color: #282828;
  font-size: 20px;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.b-statistics__list {
  margin-top: 35px;
}

.b-statistics__count {
  width: 197px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  margin: 0 auto;
}

.b-statistics__count--64pr {
  background-image: url(../img/statistics-64pr.png);
}

.b-statistics__count--63pr {
  background-image: url(../img/statistics-63pr.png);
}

.b-statistics__count--37pr {
  background-image: url(../img/statistics-37pr.png);
}

.b-statistics__count--19pr {
  background-image: url(../img/statistics-19pr.png);
}

.b-statistics__text {
  color: #282828;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 15px 0 0;
  padding: 0 10px;
}

.b-about {
  background-image: url(../img/section-bg.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  padding: 130px 0 30px;
  opacity: .99;
  overflow: hidden;
}

.b-about__inner {
  background-color: rgba(249, 251, 248, 0.8);
  -webkit-box-shadow: 0 0 100px 100px rgba(249, 251, 248, 0.8);
  box-shadow: 0 0 100px 100px rgba(249, 251, 248, 0.8);
  padding-right: 35%;
  position: relative;
}

.b-about__inner::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -70px;
  width: 50px;
  height: 50px;
  background-image: url(../img/cube-logo.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.b-about__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 40px;
}

.b-about__title b, .b-about__title span {
  display: block;
  font-weight: 800;
}

.b-about__title b {
  color: #f47a30;
}

.b-about__title span {
  color: #5a266e;
}

.b-about__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#EBCF16), color-stop(#FBBC6D), to(transparent));
  background-image: -webkit-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: -o-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: linear-gradient(to right, #EBCF16, #FBBC6D, transparent);
}

.b-about__text {
  margin: 0;
}

.b-about__text strong {
  color: #f47a30;
}

.b-about__text--italic {
  font-style: italic;
}

.b-about__accent {
  background-color: #58266F;
  background-image: url(../img/cross-lines.png);
  background-position: top right -100px;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
  padding-right: 50%;
  margin: 30px 0;
  position: relative;
}

.b-about__accent::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -455px;
  right: 22px;
  width: 468px;
  height: 663px;
  background-image: url(../img/cross-lines-fade.png);
  background-repeat: no-repeat;
}

.b-about__accent::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 80px;
  width: 59px;
  height: 67px;
  background-image: url(../img/cube-logo.png);
  background-repeat: no-repeat;
}

.b-about__subtitle {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 400;
}

.b-about__subtitle b {
  display: block;
}

.b-about__family {
  position: absolute;
  bottom: 0;
  right: -336px;
  background-color: #F97834;
  width: 320px;
  height: 500px;
}

.b-about__family::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 450px;
  height: 616px;
  background-image: url(../img/family2.png);
  background-repeat: no-repeat;
}

.b-about__family::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -44px;
  width: 176px;
  height: 203px;
  background-image: url(../img/cube-logo-big.png);
}

.b-about__product {
  position: absolute;
  right: -60px;
  bottom: -30px;
}

.b-medical {
  padding: 130px 0 0;
}

.b-medical__inner {
  position: relative;
}

.b-medical__inner::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 160px;
  right: 0;
  width: 299px;
  height: 254px;
  background-image: url(../img/medical-cross.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-medical__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  margin: 0 220px 40px 240px;
}

.b-medical__title b, .b-medical__title span {
  display: block;
  font-weight: 800;
}

.b-medical__title b {
  color: #f47a30;
}

.b-medical__title span {
  color: #5a266e;
}

.b-medical__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#EBCF16), color-stop(#FBBC6D), to(transparent));
  background-image: -webkit-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: -o-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: linear-gradient(to right, #EBCF16, #FBBC6D, transparent);
}

.b-medical__text {
  margin: 0 0 50px;
  padding-left: 240px;
  padding-right: 220px;
}

.b-medical__text strong {
  color: #f47a30;
}

.b-medical__accent {
  position: relative;
  background-color: #EA6022;
  margin-left: 150px;
  margin-bottom: 15px;
  padding: 15px 25px;
  padding-right: 340px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.b-medical__accent p {
  margin: 0;
}

.b-medical__accent::after, .b-medical__accent::before {
  content: '';
  position: absolute;
}

.b-medical__accent::before {
  z-index: 1;
  top: 50%;
  left: -70px;
  margin-top: -100px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 70px solid  #EA6022;
}

.b-medical__accent::after {
  background-image: url(../img/doctor-cross.png);
  z-index: -1;
  top: -452px;
  left: -186px;
  width: 200px;
  height: 203px;
}

.b-medical__doctor {
  position: absolute;
  top: -440px;
  left: -220px;
}

.b-medical__img {
  position: absolute;
  left: -170px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.b-medical__img--1 {
  z-index: 3;
  bottom: -130px;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.b-medical__img--2 {
  z-index: 2;
  top: -130px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.b-medical__effects {
  counter-reset: effects;
  padding-left: 25px;
  margin-bottom: 50px;
}

.b-medical__effects p {
  margin: 0 0 25px;
  padding-left: 155px;
  padding-right: 326px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #404040;
}

.b-medical__effects strong {
  color: #f47a30;
}

.b-medical__effect {
  display: block;
  margin-left: 155px;
  padding-left: 50px;
  margin-right: 326px;
  position: relative;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 17px;
  text-transform: uppercase;
  color: #e66120;
}

.b-medical__effect + .b-medical__effect {
  margin-top: 35px;
}

.b-medical__effect::before {
  content: counter(effects);
  counter-increment: effects;
  display: block;
  position: absolute;
  bottom: -22px;
  left: -3px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  width: 50px;
  height: 50px;
  background-image: url(../img/effects-marker.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-medical__effect::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, #451F5A), to(transparent));
  background-image: -webkit-linear-gradient(left, #451F5A 70%, transparent);
  background-image: -o-linear-gradient(left, #451F5A 70%, transparent);
  background-image: linear-gradient(to right, #451F5A 70%, transparent);
}

.b-medical__humanxray {
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.b-medical__footer {
  color: #303030;
  font-size: 15px;
  font-weight: 700;
  padding-right: 326px;
}

.b-medical__footer strong {
  color: #f47a30;
}

.b-medical__stamp {
  position: absolute;
  top: -400px;
  right: 0;
}

.b-advantages {
  padding: 50px 0 10px;
  background-image: url(../img/advantages-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.b-advantages__inner {
  position: relative;
}

.b-advantages__title {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin: 0;
}

.b-advantages__title b, .b-advantages__title span {
  display: block;
  font-weight: 800;
}

.b-advantages__title b {
  color: #f47a30;
}

.b-advantages__title span {
  color: #5a266e;
}

.b-advantages__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#FBBC6D), color-stop(#EBCF16), color-stop(#FBBC6D), to(transparent));
  background-image: -webkit-linear-gradient(left, transparent, #FBBC6D, #EBCF16, #FBBC6D, transparent);
  background-image: -o-linear-gradient(left, transparent, #FBBC6D, #EBCF16, #FBBC6D, transparent);
  background-image: linear-gradient(to right, transparent, #FBBC6D, #EBCF16, #FBBC6D, transparent);
}

.b-advantages__lead {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0 80px;
  margin: 60px 0;
}

.b-advantages__lead strong {
  color: #f47a30;
}

.b-advantages__group {
  position: relative;
}

.b-advantages__group::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  bottom: -150px;
  width: 707px;
  height: 396px;
  background-image: url(../img/advantages-corner.png);
}

.b-advantages__list {
  display: table;
  width: 970px;
  table-layout: fixed;
}

.b-advantages__item {
  display: table-cell;
  position: relative;
  padding-bottom: 259px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.b-advantages__item:nth-child(odd) {
  background-image: -webkit-linear-gradient(bottom, transparent 100px, #FAF6F3 100px, transparent);
  background-image: -o-linear-gradient(bottom, transparent 100px, #FAF6F3 100px, transparent);
  background-image: linear-gradient(to top, transparent 100px, #FAF6F3 100px, transparent);
}

.b-advantages__item:nth-child(even) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background-image: -webkit-linear-gradient(bottom, #fff, transparent);
  background-image: -o-linear-gradient(bottom, #fff, transparent);
  background-image: linear-gradient(to top, #fff, transparent);
}

.b-advantages__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 259px;
}

.b-advantages__item--1::after {
  background-image: url(../img/advantages-img1.png);
}

.b-advantages__item--2::after {
  margin-bottom: -100px;
  background-image: url(../img/advantages-img2.png);
}

.b-advantages__item--3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FAF6F3), to(transparent));
  background-image: -webkit-linear-gradient(bottom, #FAF6F3, transparent);
  background-image: -o-linear-gradient(bottom, #FAF6F3, transparent);
  background-image: linear-gradient(to top, #FAF6F3, transparent);
}

.b-advantages__item--4::after {
  margin-bottom: -100px;
  background-image: url(../img/advantages-img4.png);
}

.b-advantages__item--5::after {
  background-image: url(../img/advantages-img5.png);
}

.b-advantages__caption {
  color: #5a266e;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
  margin: 0;
}

.b-advantages__text {
  color: #2d2d2d;
  font-size: 15px;
}

.b-advantages__product {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -220px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.b-advantages__footer {
  margin-top: 250px;
  text-align: center;
}

.b-advantages__guarantee {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 33%;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
}

.b-advantages__guarantee span {
  display: block;
  font-size: 16px;
  color: #f47a30;
  font-weight: 800;
}

.b-advantages__guarantee b {
  display: block;
  font-size: 23px;
  color: #5a266e;
  font-weight: 800;
}

.b-advantages__guarantee::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-advantages__guarantee--100per::after {
  top: -145px;
  left: -30px;
  width: 120px;
  height: 102px;
  background-image: url(../img/advantages-stamp-100per.png);
}

.b-advantages__guarantee--n1::after {
  top: -150px;
  right: 0;
  width: 79px;
  height: 118px;
  background-image: url(../img/advantages-stamp-n1.png);
}

.b-composition {
  overflow: hidden;
  padding: 50px 0 20px;
  background-image: url(../img/composition-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.b-composition__wrap {
  position: relative;
}

.b-composition__title {
  display: table;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 80px;
}

.b-composition__title b, .b-composition__title span {
  display: block;
  font-weight: 800;
}

.b-composition__title b {
  color: #f47a30;
}

.b-composition__title span {
  color: #5a266e;
}

.b-composition__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#EBCF16), color-stop(#FBBC6D), to(transparent));
  background-image: -webkit-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: -o-linear-gradient(left, #EBCF16, #FBBC6D, transparent);
  background-image: linear-gradient(to right, #EBCF16, #FBBC6D, transparent);
}

.b-composition__table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-composition__row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-composition__col {
  display: table-cell;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.b-composition__col--1-3 {
  width: 30%;
}

.b-composition__col--1-2 {
  width: 50%;
}

.b-composition__col--likerow {
  background-color: transparent;
}

.b-composition__col--first .b-composition__name, .b-composition__col--fifth .b-composition__name {
  color: #fff;
  text-align: center;
  display: block;
  text-shadow: 0 0 5px #000;
}

.b-composition__col--first .b-composition__img, .b-composition__col--fifth .b-composition__img {
  display: block;
  height: 120px;
  padding-top: 10px;
}

.b-composition__col--first .b-composition__text, .b-composition__col--fifth .b-composition__text {
  text-align: center;
}

.b-composition__col--first {
  border-bottom: 4px solid transparent;
}

.b-composition__col--first .b-composition__img {
  background-image: url(../img/composition-img1.jpg);
}

.b-composition__col--fifth .b-composition__img {
  background-image: url(../img/composition-img5.jpg);
}

.b-composition__col--second, .b-composition__col--third, .b-composition__col--fourth, .b-composition__col--sixth {
  border-left: 4px solid transparent;
}

.b-composition__col--second .b-composition__img, .b-composition__col--third .b-composition__img, .b-composition__col--fourth .b-composition__img, .b-composition__col--sixth .b-composition__img {
  width: 120px;
}

.b-composition__col--second {
  background-color: transparent;
  border-bottom: 4px solid transparent;
}

.b-composition__col--second .b-composition__name {
  color: #f47a30;
}

.b-composition__col--second .b-composition__img {
  background-image: url(../img/composition-img2.jpg);
}

.b-composition__col--third .b-composition__name {
  color: #d50023;
}

.b-composition__col--third .b-composition__img {
  background-image: url(../img/composition-img3.jpg);
}

.b-composition__col--fourth .b-composition__name {
  color: #083c90;
}

.b-composition__col--fourth .b-composition__img {
  background-image: url(../img/composition-img4.jpg);
}

.b-composition__col--third, .b-composition__col--fourth {
  direction: rtl;
  border-bottom: 4px solid transparent;
}

.b-composition__col--third .b-composition__info, .b-composition__col--fourth .b-composition__info {
  direction: ltr;
}

.b-composition__col--sixth .b-composition__name {
  color: #083c90;
}

.b-composition__col--sixth .b-composition__img {
  height: 250px;
  background-image: url(../img/composition-img6.jpg);
}

.b-composition__col--sixth .b-composition__info {
  vertical-align: middle;
}

.b-composition__col--seventh {
  border-top: 4px solid transparent;
  background-image: url(../img/composition-img7.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 25%;
}

.b-composition__col--seventh .b-composition__name {
  font-size: 25px;
  color: #f47a30;
}

.b-composition__img {
  display: table-cell;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-composition__info {
  display: table-cell;
  padding: 15px;
}

.b-composition__name {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.b-composition__text {
  margin: 0;
  font-size: 17px;
  line-height: 1.2;
  color: #353535;
}

.b-composition__cross {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: -250px;
  top: 210px;
  width: 335px;
  height: 238px;
  background-image: url(../img/composition-cross.png);
  opacity: .8;
}

.b-composition__leaf {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-composition__leaf--1 {
  width: 204px;
  height: 257px;
  left: -204px;
  top: 30px;
  background-image: url(../img/composition-leaf1.png);
}

.b-composition__leaf--2 {
  z-index: -1;
  width: 230px;
  height: 134px;
  top: -128px;
  left: 30px;
  background-image: url(../img/composition-leaf2.png);
}

.b-composition__leaf--3 {
  z-index: 2;
  width: 180px;
  height: 252px;
  right: -180px;
  top: 300px;
  background-image: url(../img/composition-leaf3.png);
}

@media only screen and (max-width: 1400px) {
  .b-header__inner {
    padding-left: 0;
    width: 700px;
    margin-left: 262px;
  }
  .b-header__family {
    margin-left: -585px;
  }
  .b-header__top {
    text-align: center;
  }
  .b-header__stamp {
    left: -260px;
    bottom: 260px;
  }
  .b-header__title {
    padding-left: 35px;
  }
  .b-header__title i {
    font-size: 24px;
  }
  .b-header__title b, .b-header__title strong {
    font-size: 30px;
  }
  .b-header__line {
    font-size: 18px;
    margin-left: 35px;
  }
  .b-form {
    max-width: none;
  }
  .b-header__guarantees {
    margin-left: 0;
    margin-top: 15px;
  }
  .b-header__guarantees::before {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 320px;
  }
  body {
    padding-bottom: 130px;
  }
  .b-fixed {
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5A266E;
  }
  .b-fixed__inner {
    padding: 10px 0;
    padding-left: 100px;
    position: relative;
  }
  .b-fixed__product {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .b-warning {
    font-size: 12px;
  }
  .b-header {
    padding: 65px 0 10px;
  }
  .b-header__family {
    display: none;
  }
  .b-header__inner {
    width: auto;
    margin: 0;
  }
  .b-header__inner::after {
    left: -420px;
  }
  .b-header__guarantees {
    padding: 0;
  }
  .b-header__guarantees-item b {
    font-size: 15px;
  }
  .b-header__guarantees-item span {
    font-size: 12px;
  }
  .b-header__guarantees-item + .b-header__guarantees-item {
    margin-left: 20px;
  }
  .b-header__guarantees-item + .b-header__guarantees-item::before {
    width: 15px;
    height: 15px;
    font-size: 15px;
    line-height: 12px;
    left: -18px;
  }
  .b-header__main {
    padding-top: 20px;
    display: block;
  }
  .b-header__left, .b-header__right {
    display: block;
  }
  .b-header__left {
    width: auto;
  }
  .b-header__right {
    padding-top: 20px;
  }
  .b-header__advatages, .b-header__line, .b-header__chanels {
    display: none;
  }
  .b-header__title {
    padding-left: 0;
    text-align: center;
  }
  .b-header__title i,
  .b-header__title b,
  .b-header__title strong {
    font-size: 26px;
  }
  .b-header__product {
    position: relative;
    bottom: auto;
    left: auto;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .b-header__stamp {
    width: 80px;
    left: -15px;
    bottom: 200px;
  }
  .b-header::before {
    display: none;
  }
  .b-header::after {
    -webkit-box-shadow: 0 0 200px 200px #F9FBF8;
    box-shadow: 0 0 200px 200px #F9FBF8;
  }
  .b-statistics__title {
    line-height: 1.2;
  }
  .b-statistics__title strong {
    font-size: 26px;
  }
  .b-statistics__title b {
    font-size: 20px;
  }
  .b-statistics__title span {
    font-size: 15px;
  }
  .b-statistics__list {
    display: block;
  }
  .b-statistics__item {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .b-statistics__item + .b-statistics__item {
    margin-top: 15px;
  }
  .b-statistics__item:nth-child(even) {
    direction: rtl;
  }
  .b-statistics__count {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
  }
  .b-statistics__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
  }
  .b-banner {
    margin: 15px 0;
  }
  .b-banner__inner {
    display: block;
  }
  .b-banner__left {
    display: block;
    width: auto;
  }
  .b-banner__left::after {
    display: none;
  }
  .b-banner__right {
    display: block;
    background-color: transparent;
    padding: 0;
    margin-top: 15px;
  }
  .b-banner__right::after, .b-banner__right::before {
    display: none;
  }
  .b-banner__text b {
    font-size: 20px;
  }
  .b-banner__text span {
    font-size: 15px;
    font-weight: 400;
  }
  .b-about {
    background-image: none;
    padding: 0;
  }
  .b-about__title {
    font-size: 26px;
    text-align: center;
  }
  .b-about__inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    padding-right: 0;
  }
  .b-about__inner::after {
    display: none;
  }
  .b-about__accent {
    background-image: none;
    padding: 15px;
  }
  .b-about__accent::after {
    display: none;
  }
  .b-about__accent::before {
    top: -15px;
    right: -015px;
  }
  .b-about__family {
    display: none;
  }
  .b-about__product {
    position: relative;
    bottom: auto;
    right: auto;
    max-width: 250px;
    display: block;
    margin: 15px auto;
  }
  .b-medical {
    padding: 20px 0 0;
  }
  .b-medical__inner::after {
    display: none;
  }
  .b-medical__title {
    margin: 0 0 40px;
    font-size: 26px;
    text-align: center;
  }
  .b-medical__text {
    margin: 0;
  }
  .b-medical__accent {
    margin: 235px 0 0;
    padding: 15px;
    font-size: 14px;
  }
  .b-medical__accent::before, .b-medical__accent::after {
    display: none;
  }
  .b-medical__doctor {
    top: -220px;
    left: 0;
    width: 150px;
    height: 220px;
  }
  .b-medical__img {
    width: 80px;
    top: -105px;
    bottom: auto;
    left: auto;
    right: 0;
  }
  .b-medical__img--1 {
    right: 65px;
  }
  .b-medical__stamp {
    z-index: 1;
    width: 60px;
    top: -70px;
    left: 0;
  }
  .b-medical__effects {
    padding: 15px 0 15px 0;
    margin: 0;
  }
  .b-medical__effects p {
    padding: 0;
  }
  .b-medical__effect {
    margin: 0;
    font-size: 12px;
    padding-left: 35px;
  }
  .b-medical__effect::before {
    top: -22px;
    bottom: auto;
    width: 30px;
    height: 30px;
    -webkit-background-size: cover;
    background-size: cover;
    line-height: 30px;
    z-index: 1;
    font-size: 15px;
  }
  .b-medical__effect::after {
    top: -10px;
    bottom: auto;
  }
  .b-medical__humanxray {
    display: none;
  }
  .b-medical__text {
    padding: 0;
  }
  .b-medical__footer {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .b-advantages {
    padding: 30px 0 80px;
  }
  .b-advantages__title {
    font-size: 26px;
  }
  .b-advantages__lead {
    padding: 0;
    margin: 30px 0;
  }
  .b-advantages__product {
    display: none;
  }
  .b-advantages__footer {
    margin-top: 50px;
  }
  .b-advantages__guarantee {
    display: block;
    width: 100%;
    padding-left: 70px;
  }
  .b-advantages__guarantee span {
    font-size: 14px;
  }
  .b-advantages__guarantee b {
    font-size: 16px;
  }
  .b-advantages__guarantee::after {
    top: 0;
    left: 0;
  }
  .b-advantages__guarantee--100per::after {
    width: 58px;
    height: 50px;
  }
  .b-advantages__guarantee--n1::after {
    width: 58px;
    height: 87px;
  }
  .b-advantages__guarantee + .b-advantages__guarantee {
    margin-top: 25px;
  }
  .b-advantages__group::after, .b-advantages__group::before {
    display: none;
  }
  .b-advantages__list {
    display: block;
    width: 100%;
  }
  .b-advantages__item {
    display: block;
    padding: 0;
  }
  .b-advantages__item:nth-child(odd), .b-advantages__item:nth-child(even) {
    background-image: none;
  }
  .b-advantages__item::after {
    width: 198px;
    margin: -35px auto;
    display: block;
    position: relative;
    bottom: auto;
    left: auto;
    -webkit-transform: rotate(-27.5deg);
    -ms-transform: rotate(-27.5deg);
    transform: rotate(-27.5deg);
  }
  .b-advantages__item--3::after {
    background-image: url(../img/advantages-img3.png);
  }
  .b-advantages__item--4::after, .b-advantages__item--5::after {
    -webkit-transform: rotate(-27.5deg) scale(-1, 1);
    -ms-transform: rotate(-27.5deg) scale(-1, 1);
    transform: rotate(-27.5deg) scale(-1, 1);
  }
  .b-advantages__text {
    margin-bottom: 0;
  }
}
