@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.b-header__main, .b-statistics__list {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-header__left, .b-header__right, .b-statistics__item {
  display: table-cell;
  vertical-align: top;
}

.c-btn {
  display: table;
  width: 100%;
  max-width: 300px;
  background-color: #67C305;
  border: none;
  -webkit-box-shadow: 0 5px 0 #67C305;
  box-shadow: 0 5px 0 #67C305;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
  -webkit-animation: btn 1.5s infinite;
  animation: btn 1.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.c-btn__text {
  display: table;
  width: 100%;
  padding: 23px 0 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.c-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -6px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #fff;
}

@-webkit-keyframes btn {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes btn {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.b-banner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff0000;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 3px 0;
}

.b-banner b {
  font-size: 18px;
}

.b-header {
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0 90px;
  opacity: .99;
  overflow: hidden;
}

.b-header__inner {
  padding-left: 200px;
  position: relative;
  opacity: .99;
}

.b-header__inner::after {
  content: '';
  background-image: url(../img/x-cross.png);
  width: 947px;
  height: 827px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  z-index: -1;
  top: -200px;
  left: -565px;
}

.b-header__family {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -670px;
  width: 670px;
  height: 708px;
  background-image: url(../img/family.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-header__family::after {
  content: '';
  background-image: url(../img/x-cross.png);
  width: 947px;
  height: 827px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  z-index: 1;
  bottom: -400px;
  left: 35px;
}

.b-header__logo {
  display: inline-block;
  vertical-align: middle;
}

.b-header__guarantees {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}

.b-header__guarantees::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 50px;
  margin-top: -25px;
  background-color: #0091c4;
}

.b-header__guarantees-item {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.b-header__guarantees-item b {
  display: block;
  color: #141414;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
}

.b-header__guarantees-item span {
  color: #AA328F;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.b-header__guarantees-item + .b-header__guarantees-item {
  margin-left: 60px;
}

.b-header__guarantees-item + .b-header__guarantees-item::before {
  content: '+';
  position: absolute;
  left: -42px;
  top: 50%;
  margin-top: -12px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #FF7A00;
  font-weight: 800;
  font-size: 26px;
  line-height: 22px;
}

.b-header__main {
  padding-top: 50px;
}

.b-header__left, .b-header__right {
  position: relative;
}

.b-header__left {
  width: 60%;
}

.b-header__right {
  padding-top: 70px;
}

.b-header__title {
  margin: 0 0 10px;
  line-height: 1;
}

.b-header__title i {
  font-style: normal;
  font-size: 29px;
  color: #2c529d;
}

.b-header__title b, .b-header__title strong {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}

.b-header__title b {
  color: #f47a30;
  margin: 7px 0;
}

.b-header__title strong {
  color: #5a266e;
}

.b-header__line {
  background-color: #F2803A;
  font-size: 25px;
  color: #fff;
  padding: 2px 15px;
}

.b-header__line span {
  display: inline-block;
  position: relative;
}

.b-header__line span + span {
  margin-left: 25px;
}

.b-header__line span + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.b-header__advatages {
  padding-left: 35px;
  padding-right: 15px;
  margin: 50px 0 100px;
}

.b-header__advatages-item {
  font-size: 18px;
  position: relative;
  padding-left: 60px;
}

.b-header__advatages-item b {
  display: block;
  color: #482556;
}

.b-header__advatages-item span {
  color: #2e4555;
}

.b-header__advatages-item + .b-header__advatages-item {
  margin-top: 8px;
}

.b-header__advatages-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  background-image: url(../img/cube-logo.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-header__chanels {
  margin-left: 50px;
}

.b-header__product {
  position: absolute;
  bottom: -100px;
  left: -260px;
}

.b-header__stamp {
  position: absolute;
  bottom: 100px;
  left: -360px;
}

.b-header::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 400px;
  left: 50%;
  background-color: #F9FBF8;
  width: 300px;
  height: 1px;
  margin-left: -150px;
  -webkit-box-shadow: 0 0 300px 300px #F9FBF8;
  box-shadow: 0 0 300px 300px #F9FBF8;
}

.b-header::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 600px;
  width: 947px;
  height: 827px;
  background-image: url(../img/x-cross.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-logo {
  background-color: #000;
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  text-align: center;
}

.b-logo b, .b-logo img {
  display: block;
}

.b-logo b {
  padding: 2px 0;
  font-weight: 300;
}

.b-form {
  width: 100%;
  max-width: 300px;
  border: 2px solid #2C529D;
  padding: 25px 10px;
  background-color: #f7f7f1;
}

.b-form__group {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 10px;
}

.b-form__group + .b-form__group {
  margin-top: 20px;
}

.b-form__group--select {
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.b-form__field {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.b-form__btn {
  margin-top: 20px;
  max-width: none;
}

.b-form__security {
  margin: 15px auto 0;
  display: block;
}

.b-statistics {
  padding: 50px 0;
}

.b-statistics__title {
  text-align: center;
  margin: 0;
}

.b-statistics__title strong {
  color: #ff0000;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  display: block;
  text-transform: uppercase;
}

.b-statistics__title b {
  color: #050404;
  font-size: 35px;
  font-weight: 800;
  display: block;
  text-transform: uppercase;
}

.b-statistics__title span {
  color: #282828;
  font-size: 20px;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.b-statistics__list {
  margin-top: 35px;
}

.b-statistics__count {
  width: 197px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  margin: 0 auto;
}

.b-statistics__count--64pr {
  background-image: url(../img/statistics-64pr.png);
}

.b-statistics__count--63pr {
  background-image: url(../img/statistics-63pr.png);
}

.b-statistics__count--37pr {
  background-image: url(../img/statistics-37pr.png);
}

.b-statistics__count--19pr {
  background-image: url(../img/statistics-19pr.png);
}

.b-statistics__text {
  color: #282828;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 15px 0 0;
  padding: 0 10px;
}

@media only screen and (max-width: 1400px) {
  .b-header__inner {
    padding-left: 0;
    width: 700px;
    margin-left: 262px;
  }
  .b-header__family {
    margin-left: -585px;
  }
  .b-header__top {
    text-align: center;
  }
  .b-header__stamp {
    left: -260px;
    bottom: 260px;
  }
  .b-header__title {
    padding-left: 35px;
  }
  .b-header__title i {
    font-size: 24px;
  }
  .b-header__title b, .b-header__title strong {
    font-size: 30px;
  }
  .b-header__line {
    font-size: 18px;
    margin-left: 35px;
  }
  .b-form {
    max-width: none;
  }
  .b-header__guarantees {
    margin-left: 0;
    margin-top: 15px;
  }
  .b-header__guarantees::before {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 320px;
  }
  .b-banner {
    font-size: 12px;
  }
  .b-header {
    padding: 65px 0 10px;
  }
  .b-header__family {
    display: none;
  }
  .b-header__inner {
    width: auto;
    margin: 0;
  }
  .b-header__inner::after {
    left: -420px;
  }
  .b-header__guarantees {
    padding: 0;
  }
  .b-header__guarantees-item b {
    font-size: 15px;
  }
  .b-header__guarantees-item span {
    font-size: 12px;
  }
  .b-header__guarantees-item + .b-header__guarantees-item {
    margin-left: 20px;
  }
  .b-header__guarantees-item + .b-header__guarantees-item::before {
    width: 15px;
    height: 15px;
    font-size: 15px;
    line-height: 12px;
    left: -18px;
  }
  .b-header__main {
    padding-top: 20px;
    display: block;
  }
  .b-header__left, .b-header__right {
    display: block;
  }
  .b-header__left {
    width: auto;
  }
  .b-header__right {
    padding-top: 20px;
  }
  .b-header__advatages, .b-header__line, .b-header__chanels {
    display: none;
  }
  .b-header__title {
    padding-left: 0;
    text-align: center;
  }
  .b-header__title i,
  .b-header__title b,
  .b-header__title strong {
    font-size: 26px;
  }
  .b-header__product {
    position: relative;
    bottom: auto;
    left: auto;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .b-header__stamp {
    width: 80px;
    left: -15px;
    bottom: 200px;
  }
  .b-header::before {
    display: none;
  }
  .b-header::after {
    -webkit-box-shadow: 0 0 200px 200px #F9FBF8;
    box-shadow: 0 0 200px 200px #F9FBF8;
  }
  .b-statistics__title {
    line-height: 1.2;
  }
  .b-statistics__title strong {
    font-size: 27px;
  }
  .b-statistics__title b {
    font-size: 21px;
  }
  .b-statistics__title span {
    font-size: 15px;
  }
  .b-statistics__list {
    display: block;
  }
  .b-statistics__item {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .b-statistics__item + .b-statistics__item {
    margin-top: 15px;
  }
  .b-statistics__item:nth-child(even) {
    direction: rtl;
  }
  .b-statistics__count {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
  }
  .b-statistics__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
  }
}
